---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer-content">
    <div class="footer-about">
      <a href="/" class="footer-logo">
        <img
          src="/hexalink-letters.svg"
          alt="HexaLink"
          class="footer-logo-img"
          loading="lazy"
          decoding="async"
        />
      </a>
      <p> We transform the way
        companies manage their talent with modern and efficient technology.
      </p>
      <div class="social-links">
        <a
          href="https://www.facebook.com/share/17xDJ4ydZG/?mibextid=wwXIfr"
          target="_blank"
          class="social-link"
          aria-label="Facebook"
        >
          <img
            src="/facebook-icon.svg"
            alt="Facebook"
            width="25"
            height="25"
            loading="lazy"
            decoding="async"
          />
        </a>
        <a
          href="https://www.instagram.com/_hexalink?igsh=bjNtdnIydDA4MGN0&utm_source=qr"
          target="_blank"
          class="social-link"
          aria-label="Instagram"
        >
          <img
            src="/instagram-icon.svg"
            alt="Instagram"
            width="25"
            height="25"
            loading="lazy"
            decoding="async"
          />
        </a>
        <a
          href="https://x.com/_hexalink?s=21"
          target="_blank"
          class="social-link"
          aria-label="X (Twitter)"
        >
          <img
            src="/x-icon.svg"
            alt="X"
            width="25"
            height="25"
            loading="lazy"
            decoding="async"
          />
        </a>
      </div>
    </div>

    <div class="footer-links">
      <h4>Solutions</h4>
      <a href="/solutions">Staffinity</a>
    </div>

    <div class="footer-links">
      <h4>Company</h4>
      <a href="/about">About Us</a>
      <a href="/contact">Contact</a>
    </div>

    <div class="footer-links">
      <h4>Legal</h4>
      <a href="/terms">Terms of Service</a>
      <a href="/privacy">Privacy Policy</a>
      <a href="/cookies">Cookies</a>
      <a href="/licenses">Licenses</a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© {currentYear} HexaLink. All rights reserved.</p>
  </div>
</footer>
